<!DOCTYPE html>
<html lang="en">

<body>
    <h1>Upload Image</h1>
    <form action="/products/add63bd38b4621dd328890cee07" method="POST" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="title">
        <input type="text" name="summary" placeholder="summary">
        <input type="text" name="category" placeholder="category">
        <input type="text" name="shop" placeholder="shop">
        <input type="text" name="instock" placeholder="instock">
        <input type="text" name="size" placeholder="size">
        <input type="text" name="color" placeholder="color">
        <input type="text" name="price" placeholder="price">
        <input type="file" name="productImage" />
        <input type="submit" value="Submit" />
    </form>
</body>

</html>